/* Template styling */

html, body {
  margin: 0 auto;
  max-width: 1200px;
}

body {
  background: url('../images/stars.jpg') repeat;
  font-family: 'Roboto', sans-serif;
}

div#app {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
    'header header header'
    'menu menu menu'
    'container container container'
    'footer footer footer'
  ;
  min-height: 100vh;
}

header {
  grid-area: header;
  height: 135px;
  background: url('../images/cover.png');
}

nav {
  grid-area: menu;
  height: 60px;
  background: url('../images//cov-bot.png');
  font-size: 1.75em;
  line-height: 60px;
  padding: 20px;
  color: white;
  display: flex;
}

nav a {
  color: rgb(95, 191, 255);
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: rgb(198, 115, 247);
}

#container {
  grid-area: container;
  background-color: rgba(0, 0, 0, 0.5);
  height: max-content;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.hidden {
  display: none;
}

a.active {
  color: white;
  font-weight: bold;
}

input#search {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid gray;
  border-radius: 4px;
  height: 24px;
  flex: 1 0;
  margin: auto;
}

span.favorite {
  cursor: pointer;
}

span.favorite.active {
  color: rgb(255, 0, 149);
}

span.favorite:hover {
  color:rgb(187, 135, 255)
}

/* Simo */

.content#about-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  width: 400px;
  padding: 15px;
  background: rgba(252, 252, 252, 0.1);
  border: 5px solid rgb(102, 46, 175);
  border-radius: 20px;
  margin: 20px 0px;
}

#about-text:hover{
   color: rgb(253, 135, 119);
}

.about-title{
  color: rgb(95, 191, 255);
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  margin: 0px;
}

.about-text{
  font-family: 'Architects Daughter', cursive;
  font-style: oblique;
   margin: 0px;
}

#canucode-logo{
  width: 200px;
  height: 187px;
  margin-bottom: 10px;
}

#about-text-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Drago */

div.giphy-details {
  padding: 10px;
  display:flex;
  align-items:center;
  justify-content: space-evenly;
  border: solid gray 1px;
  background-color: rgb(17, 16, 16);
  border-radius: 10px;
}

div.giphy-details img#poster-detailed {
  max-height: 400px;
}

div.giphy-details-text {
  display:flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  padding: 15px;
  font-family: 'Architects Daughter', cursive;
  font-size: larger;
}

p#title-detailed {
  display:inline-block;
  color: rgb(236, 162, 236);
  font-size: 30px;
  padding-left: 50px;
  font-family: 'Dancing Script', cursive;
}

p#title-detailed:hover {
  color:rgb(253, 135, 119);
}

div.giphy-details p {
  color: rgb(199, 192, 192);
}

/* Tanya */

#fav-giphy-title {
  color: rgb(95, 191, 255);
  text-align: left;
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  padding-left: 30px;
  margin-bottom: 20px;
}

#fav-giphy-title:hover {
  color:rgb(253, 135, 119);
}

.simple-giphy-container {
  width: 300px;
  min-height: 400px;
  max-height: 400px;
  border: 5px solid rgb(151, 148, 151);
  border-radius: 20px;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  margin: 20px;
}

#single-poster {
  width: 220px;
  margin: 10px;
}

.giphy-simple {
  font-size: medium;
}

#single-giphy-title {
  color: rgb(95, 191, 255);
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Calibri', cursive;
  text-align: center;
  margin: 0px;
}

#single-giphy-title:hover {
  color: rgb(253, 135, 119);
}

#single-giphy-year {
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Architects Daughter', cursive;
  margin: 5px;
}

#view-details {
  background-color: rgb(71, 67, 66);
  border-radius: 5px;
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Architects Daughter', cursive;
  font-weight: bolder;
}

#heart {
  font-size: 30px;
  padding: 0px;
}

div#view-details a {
  font-family: 'Architects Daughter', cursive;
  text-decoration: none;
  color: whitesmoke;
}

#category-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Olga */

div#categories h1 {
  color: blueviolet;
  margin-top: 10px;
  text-align: left;
}
div#categories div.content {
  margin-top: 50px;
  text-align: left;
}

.category-view {

  color: blueviolet;
  margin-left: 2px;
  margin-top: 2px;
  font-size: 17px;
  text-align: left;
}

.categories-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div#single-category h2 {
  color: blueviolet;
  font-style: italics;
}

#single-category{
 width: 200px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 border: solid 2px blueviolet;
 border-radius: 10px;
 margin: 10px;
 padding: 10px;
}

#giphy-count{
  margin: 0px;
  padding: 5px;
}

/* Ico */

#favorite-giphies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.favorite-giphies-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

img {
  width:  250px;
  height: 250px;
  object-fit: cover;
}

.gallery-view{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  max-width: 80%;
}

.favorites-view{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: 380px;
}

#upload-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 150px;
  border: 5px solid rgb(151, 148, 151);
  padding:20px;
  border-radius: 20px;
}